/** {
    transition: .4s;
    box-sizing: border-box;
    font-family: 'arial';
}

::selection {
    background: rgba(219, 68, 55, .3);
}

body {
    background: rgba(0, 0, 0, .8);
}

.formulario {
    width: 50%;
    margin: auto;
    text-align: center;
    background: #FFF;
    padding-top: 30px;
    border-radius: 10px;
}

    .formulario .titulo_formulario {
        color: #444;
        font-size: 1.6em;
        font-weight: bold;
        margin: 0px 0 30px 0;
        border-bottom: 1px solid #CCC;
        position: relative;
        padding-bottom: 20px;
        padding-left: 30px;
        text-align: left;
    }

    .formulario .input_textual {
        display: block;
        padding: 15px 10px;
        margin: auto;
        margin-bottom: 10px;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 2px;
    }

    .formulario .input_textual {
        color: #444;
        font-size: 1.1em;
    }

        .formulario .input_textual:focus {
            outline: none;
            border: none;
            border-left: 13px solid #DB4437;
            box-shadow: 1px 5px 10px #CCC;
        }

        .formulario .input_textual:focus {
            opacity: 1;
            left: 30px;
            transition: all 0.25s ease-out;
        }

    .formulario a {
        font-size: 0.9em;
        color: #444;
        text-decoration: none;
        border-bottom: 1px solid #DB4437;
        padding-bottom: 5px;
    }

        .formulario a:hover {
            color: #DB4437;
            border-color: #FFF;
        }

    .formulario .input_boton {
        margin-top: 55px;
        border: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 20px 0;
        outline: none;
        width: 100%;
        position: relative;
        background: rgba(219, 68, 55, .8);
        color: #FFF;
        bottom: -3px;
        left: 0px;
        font-size: 1.4em;
        cursor: pointer;
    }

        .formulario .input_boton:hover {
            background: rgba(219, 68, 55, 1);
        }

        .formulario .input_boton .fa {
            font-size: 1.4em;
        }
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
}

.form {
    position: relative;
    background: #060c21;
    border: 1px solid #000;
    width: 350px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    text-align: center;
}

    .form::before {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: linear-gradient(315deg,#e91e63,#5d02ff);
        z-index: -1;
        transform: skew(2deg,1deg);
        border-radius: 10px;
    }

    .form h2 {
        color: #fff;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .form .input {
        margin-top: 40px;
        text-align: left;
    }

        .form .input .inputBox {
            margin-top: 10px;
        }

            .form .input .inputBox label {
                display: block;
                color: #fff;
                margin-bottom: 5px;
                font-size: 18px;
                letter-spacing: 1px;
            }

            .form .input .inputBox input {
                position: relative;
                width: 100%;
                height: 40px;
                border: none;
                outline: none;
                padding: 5px 15px;
                background: linear-gradient(315deg,#e91e63,#5d02ff);
                color: #fff;
                font-size: 18px;
                border-radius: 10px;
            }

                .form .input .inputBox input[type="submit"] {
                    cursor: pointer;
                    margin-top: 20px;
                    letter-spacing: 1px;
                }

                    .form .input .inputBox input[type="submit"]:hover {
                        background: linear-gradient(315deg,#5d02ff,#e91e63);
                    }

                    .form .input .inputBox input[type="submit"]:active {
                        color: rgba(255, 255, 255, 0.521);
                        background: linear-gradient(315deg,#e91e6271,#5f02ff8c);
                    }

.forgot {
    margin-top: 10px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}

    .forgot a {
        color: #ff0800;
    }
